################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TackleIt/.vs
/TackleIt/TackleIt/bin
/TackleIt/TackleIt/obj
/TackleIt/TackleIt/Properties/PublishProfiles
