@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ExciteMyLife<br />
    Lviv, Ukraine<br />
</address>

<address>
    <strong>Phone number:</strong>   +38**hidden**<br />
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Hidden@Mail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Hidden@Mail.com</a>
</address>