
<div style="display:block;">
    @Html.ActionLink("Back to administration", "Index", "Admin", routeValues:null, htmlAttributes: new { @class = "btn regular-text", style = "margin-top:18px;margin-bottom:18px;display:inline-block;" } )
</div>
